<!-- Sign up form -->
<section class="signup mt-5">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form" (ngSubmit)='signup()' #signupForm='ngForm'>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" [(ngModel)]="username" name="name" id="name" placeholder="Your Name" #name='ngModel' required />
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Your Email" #mail='ngModel' required/>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" [(ngModel)]="password" name="password" id="pass" placeholder="Password" #password1='ngModel' required/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" [(ngModel)]="confim_password" name="re_pass" id="re_pass" placeholder="confim password" #password2='ngModel' required />
                    </div>
                    <div class="form-group">
                        <label for="address"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" [(ngModel)]="address" name="address" id="address" placeholder="address" #area='ngModel' required />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" (click)="signup()" name="signup" id="signup" class="form-submit" value="Register" />

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<router-outlet></router-outlet>
