/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background: url(./assets/images/tim-mossholder-xDwEa2kaeJA-unsplash.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

